i-aedes-simple-hello-world.json
[{"id":"c448dc3b8b9de2e6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"0d65bf257879f154","type":"aedes broker","z":"c448dc3b8b9de2e6","name":"","mqtt_port":"1990","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":280,"y":100,"wires":[[],[]]},{"id":"9c72acf14c8b8c01","type":"mqtt in","z":"c448dc3b8b9de2e6","name":"","topic":"demo/welcome","qos":"0","datatype":"auto","broker":"eeb4d7350013cf12","nl":false,"rap":true,"rh":0,"x":160,"y":300,"wires":[["470c5877dd519e1d"]]},{"id":"788e5689deb7784e","type":"mqtt out","z":"c448dc3b8b9de2e6","name":"","topic":"demo/welcomea","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"eeb4d7350013cf12","x":370,"y":200,"wires":[]},{"id":"470c5877dd519e1d","type":"debug","z":"c448dc3b8b9de2e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":300,"wires":[]},{"id":"9be5758f6c1503be","type":"inject","z":"c448dc3b8b9de2e6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":150,"y":200,"wires":[["788e5689deb7784e"]]},{"id":"eeb4d7350013cf12","type":"mqtt-broker","name":"","broker":"192.168.0.108","port":"1990","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""}]